*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex

eshell
network-security.data
.python-environments
irony
dmenu-items
config.el
packages-config.el
*recentf*
smex-items
snippets
tramp
emms
auto-save-list
elpa
transient
auto-complete-love
auto-complete-lua
emacs
bookmarks
elpy
elpy/*